
controls = #0
control_border_radius = 3px

@import "core/index"

@keyframes functional-controls-hide
  0%
    opacity 0
  100%
    bottom 0
    right 0
    left 0
    opacity 1


.{root}
   .fp-title
     absolute spacing spacing
   .fp-title, .fp-unload, .fp-fullscreen, .fp-embed
     border-radius control_border_radius
   .fp-embed-code
     right controls_height*2+5+spacing*2
     .is-closeable&
       right controls_height*3+5+spacing*3
   &.is-mouseout
     .fp-menu
       display none
     .fp-controls
       transition none
       animation functional-controls-hide 1s 1
     .fp-timeline
       transition none
     .fp-volume, .fp-brand, .fp-play, .fp-time
       transition none
       opacity 0
   &.is-mouseover .fp-controls
     bottom spacing
     left spacing + controls_height + spacing
     right spacing
     width auto
     border-radius control_border_radius

     .fp-play
       left -(spacing + controls_height)
       display block
       bg controls
       bg rgba(controls, .65)
       width controls_height
       height controls_height
       border-radius control_border_radius
     .fp-timeline
       margin-left spacing * 2 + time_width
       border-radius control_border_radius
       .is-long&
        margin-left spacing * 2 + hour_time_width
     .fp-menu .fp-dropdown
       bottom spacing * 3 + 5
       left auto
       right -(spacing)
       &:before
         display none
      li
        border-color controls
        &.active
          border-color #00a7c8
      li:last-child:before
        content ''
        display block
        position absolute
        bottom -5px
        width 0
        height 0
        right spacing
        border-bottom none
        border-top-width 5px
        border-top-style solid
        border-top-color inherit
        border-left 5px solid transparent
        border-right 5px solid transparent
   .fp-elapsed, &.play-button .fp-elapsed
     left spacing * 3 + controls_height
   .fp-time em
     bottom spacing * 2

p

   &.color-alt
      .fp-progress
         gradient #9 #1

      &.is-touch.is-mouseover .fp-progress:before
         gradient #9 #1

      .fp-timeline, .fp-volumeslider
         bg #1

   &.color-alt2
      .fp-progress
         background-color #900

      &.is-touch.is-mouseover .fp-progress:before
         background-color #900
