
controls = #0
control_border_radius = 3px

@import "core/index"

@keyframes functional-controls-hide
  0%
    opacity 0
  100%
    bottom 0
    right 0
    left 0
    opacity 1


.{root}
   &.is-touch.is-mouseover .fp-progress:before
      bg #00a7c8


   .fp-title
     absolute spacing spacing
     .is-rtl&
      left auto
      right spacing
   .fp-title, .fp-unload, .fp-fullscreen, .fp-embed
     border-radius control_border_radius
   .fp-embed-code
     right controls_height*2+5+spacing*2
     .is-closeable&
       right controls_height*3+5+spacing*3
     .is-rtl&
       right auto
       left controls_height*2+5+spacing*2
   &.is-mouseout
     .fp-menu
       display none
     .fp-controls
       transition none
       animation functional-controls-hide 1s 1
     .fp-timeline
       transition none
     .fp-volume, .fp-brand, .fp-play, .fp-time
       transition none
       opacity 0
   &.fixed-controls
   &.fixed-controls.is-mouseover
     .fp-elapsed
       left spacing * 2 + controls_height
     .fp-controls
       bottom -(controls_height)
       border-radius 0
       left 0
       right 0
       .is-fullscreen&
          bottom 0
       .fp-play
         left spacing
       .fp-timeline
         margin-left spacing * 3 + controls_height + time_width
         .is-long&
          margin-left spacing * 3 + controls_height + hour_time_width
   &.is-mouseover .fp-controls
     bottom spacing
     left spacing + controls_height + spacing
     right spacing
     width auto
     border-radius control_border_radius

     .is-rtl&
      left spacing
      right spacing + controls_height + spacing

     .fp-play
       left -(spacing + controls_height)
       display block
       bg controls
       bg rgba(controls, .65)
       width controls_height
       height controls_height
       border-radius control_border_radius
       .is-rtl&
        left auto
        right -(spacing + controls_height)
     .fp-timeline
       border-radius control_border_radius
       .fp-progress, .fp-buffer
         border-radius control_border_radius
     .fp-menu .fp-dropdown
       bottom spacing * 3 + 5
       left auto
       right -(spacing)
       .is-rtl&
         right auto
         left -(spacing)
       &:before
         display none
      li
        border-color controls
        &.active
          border-color #00a7c8
      li:last-child:before
        content ''
        display block
        position absolute
        bottom -5px
        width 0
        height 0
        right spacing
        border-bottom none
        border-top-width 5px
        border-top-style solid
        border-top-color inherit
        border-left 5px solid transparent
        border-right 5px solid transparent
        .is-rtl&
          right auto
          left spacing
   .fp-elapsed, &.play-button .fp-elapsed
     left spacing * 3 + controls_height
     .is-rtl&
       right spacing * 3 + controls_height
       left auto
   .fp-time em
     bottom spacing * 2 -  1
