
@import "core/index"


.{root}

   // default colors
   controls = #0

   .fp-controls, .fp-title, .fp-fullscreen, .fp-unload, .fp-close, .fp-embed
      bg controls
      bg rgba(controls, .65)

   &.fixed-controls .fp-controls
      bg controls

   .fp-timeline
      bg #a5

   .fp-buffer
      bg #e

   .fp-progress
      bg #00a7c8

   .fp-volumeslider
      bg #a5

   .fp-volumelevel
      bg #00a7c8

   .fp-play
      height 29px

   &.is-touch.is-mouseover .fp-progress:before
      bg #00a7c8

   .fp-menu .fp-dropdown
     bg controls
     right -(spacing)
     left auto
     bottom controls_height
     border-radius 0px
     &:before
       display none
     li.active
       bg #00a7c8
   .fp-fullscreen, .fp-unload, .fp-close, .fp-embed
     height controls_height
     width controls_height
     right 0
     top 0
   .fp-embed
     right controls_height + 2
   &.is-closeable.is-ready
     .fp-fullscreen
       right controls_height + 2
     .fp-embed
       right controls_height * 2 + 4

   // dark
   &.color-light
      controls_dark = #f

      .fp-controls
         bg rgba(controls_dark, .6)

      &.fixed-controls .fp-controls
         bg controls_dark

      .fp-volumeslider
         bg #d

      .fp-volumelevel
         bg #2

   // alt
   &.color-alt
      .fp-progress
         bg #f

      &.is-touch.is-mouseover .fp-progress:before
         bg #f

      .fp-buffer
         bg #9

   // alt2
   &.color-alt2
      .fp-progress
         bg #900
      &.is-touch.is-mouseover .fp-progress:before
         bg #900


