// default colors
controls = #0


@import "core/index"


.{root}

   &.is-touch.is-mouseover .fp-progress:before
      bg #00a7c8

   .fp-menu .fp-dropdown
     right -(spacing)
     left auto
     bottom controls_height
     border-radius 0px
     &:before
       display none
     .is-rtl&
        right auto
        left -(spacing)
   .fp-play
     width controls_height
   &.aside-time .fp-time
     top 0
     left 0
   .fp-remaining, .fp-duration
     .no-brand&
       right right_margin
   .fp-fullscreen, .fp-unload, .fp-close, .fp-embed
     right 0
     top 0
     .is-rtl&
       right auto
       left 0
   .fp-embed
     right controls_height + 2
     .is-rtl&
       right auto
       left controls_height + 2
   &.is-closeable.is-ready
     .fp-fullscreen
       right controls_height + 2
     .fp-embed
       right controls_height * 2 + 4
     .is-rtl&
       .fp-fullscreen
         right auto
         left controls_height + 2
       .fp-embed
         right auto
         left controls_height * 2 + 4


   &.play-button
     play-button()
