
@import "core/index"


.{root}

   // default colors
   controls = #3

   .fp-controls
      bg controls
      bg rgba(controls, .6)

   &.fixed-controls .fp-controls
      bg controls

   .fp-timeline
      bg #6

   .fp-buffer
      bg #e

   .fp-progress
      bg #00a7c8

   &.is-touch.is-mouseover .fp-progress:after, &.is-touch.is-mouseover .fp-progress:before
      content ''
      display block
      float right
      right 0px
      margin-top 0px
      margin-right -5px
      border-radius 10px

   &.is-touch.is-mouseover .fp-progress:before
      background-color #00a7c8
      width 10px
      height 10px

   &.is-touch.is-mouseover .fp-progress:after
      height 10px
      width 10px
      margin-top -5px
      margin-right -15px
      border: 5px solid rgba(#fff, 0.65)
      box-shadow 1px 0px 4px rgba(#000, 0.5)

   .fp-volumeslider
      bg #0

   .fp-volumelevel
      bg #f

   .fp-play
      height 24px


   // dark
   &.color-light
      controls_dark = #f

      .fp-controls
         bg rgba(controls_dark, .6)

      &.fixed-controls .fp-controls
         bg controls_dark

      .fp-volumeslider
         bg #d

      .fp-volumelevel
         bg #2

   // alt
   &.color-alt
      .fp-progress
         bg #f

      .fp-buffer
         bg #9

   // alt2
   &.color-alt2
      .fp-progress
         bg #900


