
spacing           = 12px
img               = 'img/playful_white'
img_rtl           = 'img/playful_white_rtl'
img_dark          = 'img/playful_black'
img_dark_rtl      = 'img/playful_black_rtl'
mute_width        = 38px
mute_height       = 20px
volume_height     = 11px
full_time_width   = 110px
timeline_height   = volume_height

@import "core/index"

.{root}

   // default colors
   .fp-controls
      background-color #1

   .fp-timeline, .fp-volumeslider
      bg #5
      gradient rgba(#f, 0.01) rgba(#f, 0.3)

   .fp-buffer
      bg #e

   .fp-progress
      background-color green

   &.is-touch.is-mouseover .fp-progress:before
      background-color green

   .fp-volumelevel
      bg #f


   .fp-mute
      block mute_width mute_height
      bg 0 -79px

      .is-rtl&
         bg 0 -79px

      .is-muted&
         bg 0 -109px
         opacity .85 !important

   .fp-play
      bg 9px -20px

      .is-rtl&
         bg 18px -20px

      .is-paused&
         bg 9px 11px

         .is-rtl&
            bg 18px 11px

   // border
   .fp-timeline, .fp-volumeslider
      border 1px inset
      border-color rgba(#0, 0.3) rgba(#1, 0.05)

   // gradient
   .fp-controls, .fp-progress
      gradient rgba(#f, 0.3) rgba(#f, 0.01)


   // radius
   .fp-timeline, .fp-progress, .fp-buffer, .fp-volumeslider, .fp-volumelevel
      border-radius 7px

   // light
   &.color-light
      .fp-controls
         background-color #e
         gradient rgba(#0, 0.01) rgba(#0, 0.3)

      .fp-timeline, .fp-volumeslider
         border-color #e #c

   &.color-alt
      .fp-progress, .fp-volumelevel
         background-color #1

      &.is-touch.is-mouseover .fp-progress:before
         background-color #1

   &.color-alt2
      .fp-progress, .fp-volumelevel
         background-color #900

      &.is-touch.is-mouseover .fp-progress:before
         background-color #900

