
spacing           = 12px
img               = 'img/playful_white'
img_rtl           = 'img/playful_white_rtl'
img_dark          = 'img/playful_black'
img_dark_rtl      = 'img/playful_black_rtl'
mute_width        = 38px
mute_height       = 20px
volume_height     = 11px
full_time_width   = 110px
timeline_height   = volume_height
controls = #0

@import "functional"

.{root}

   // default colors
   .fp-controls, .fp-title, .fp-embed, .fp-play, .fp-fullscreen, .fp-close, &.aside-time .fp-time, .fp-unload
     gradient rgba(#8, 0.85) rgba(#0, 0.85)
     color #e !important
     &:before
       color #e
   .fp-dropdown
     border-radius 5px
     li:last-child
       border-radius 0 0 5px 5px
   .fp-fullscreen, .fp-unload, .fp-mute, .fp-embed, .fp-close, .fp-play, .fp-menu
     &:before
       vertical-align -2px
   .fp-controls .fp-menu
     bottom 3px
     .fp-dropdown
       .is-mouseover&
         bottom 36px
   .fp-volumeslider
     height 8px
     margin-top 1px
     margin-left 2px
     border-radius 4px
     .fp-volumelevel
       border-radius 4px
   .fp-mute
     top -9.5px
     &:before
       content "\e60c"
       vertical-align 0px
       .is-muted.is-ready&
         content "\e60c"
         color #ccc
     &:after
       content ''
       background-color #9ebb11
       width 6px
       height 6px
       display block
       position absolute
       border-radius 3px
       right 2px
       top 11px
       .is-muted&
         background-color #f00

