.flowplayer.no-svg
  .fp-ui
    .fp-header, .fp-controls
      background-color: #333
    .fp-play.fp-visible
      background-color: #ccc
      position: absolute
      padding-top: 17%
      top: 0
      left: 0
      right: 0
      bottom: 0
      svg
        display: none
      .fp-playbtn
        display: inline
