.flowplayer
  &.is-mouseover, &.is-paused
    .fp-captions
      bottom: 3em
  &.is-poster
    .fp-engine
      opacity: 0
  &.is-splash
    .fp-ui > *
      display: none
    .fp-ui > svg.fp-play
      display: block
    &.is-loading
      .fp-ui > svg.fp-play
        display: none
  &.has-title
    .fp-header
      top: 0
      text-align: right
  &.is-fullscreen
    .fp-player
      background-color: #333

  &.is-loading, &.is-seeking
    .fp-waiting
      display: block
    .fp-play
      display: none
  &.is-playing
    .fp-playbtn
      &:before
        content: "\e008"
