@font-face {
  font-family: 'fpicons';
  src:url('fonts/fpicons.eot?yg5dv7');
  src:url('fonts/fpicons.eot?#iefixyg5dv7') format('embedded-opentype'),
    url('fonts/fpicons.woff?yg5dv7') format('woff'),
    url('fonts/fpicons.ttf?yg5dv7') format('truetype'),
    url('fonts/fpicons.svg?yg5dv7#fpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fp-i-"], [class*=" fp-i-"] {
  font-family: 'fpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
