
.{root}

   // play button = separate centered image
   .fp-ui

      .is-splash&, .is-paused&
         background 'url(%s.png) center no-repeat' % unquote(img_play)
         background-size 12%

         @media (-webkit-min-device-pixel-ratio: 2)
            background 'url(%s@x2.png) center no-repeat' % unquote(img_play)
            background-size 12%

         .color-light&
            background-image 'url(%s.png)' % unquote(img_play_dark)

         @media (-webkit-min-device-pixel-ratio: 2)
            .color-light&
               background-image 'url(%s@x2.png)' % unquote(img_play_dark)

      .is-fullscreen&
         background-size auto

      .is-seeking&, .is-loading&
         background-image none

   .fp-logo
      absolute auto spacing
      bottom spacing * 5
      cursor pointer
      display none
      z-index 100

      img
         width 100%

      .is-embedded&
         display block


   .fp-fullscreen, .fp-unload, .fp-close
      absolute spacing auto
      right spacing
      block 30px 23px
      bg 12px -197px
      cursor pointer

   .fp-unload, .fp-close
      bg 14px -175px
      display none

   &.is-ready.is-closeable
      .fp-unload
         display block
      .fp-fullscreen
         display none

   &.is-fullscreen
      .fp-fullscreen
         bg 10px -217px
         display block !important

      .fp-unload, .fp-close
         display none !important

