

/* Cross browser CSS3 */

vendor-prefixes = webkit moz

vendor(prop, args)
   for prefix in vendor-prefixes
      {'-' + prefix + '-' + prop}: args
   {prop}: args

box-shadow()
   vendor('box-shadow', arguments)

border-radius()
   vendor('border-radius', arguments)

transition()
   vendor('transition', arguments)

transition-delay()
   vendor('transition-delay', arguments)

transform()
   vendor('transform', arguments)

animation()
  vendor('animation', arguments)

animation-delay()
  vendor('animation-delay', arguments)

gradient(from = #f9, to = #d, args...)
   background-image -moz-linear-gradient(from, to) args
   background-image -webkit-gradient(linear, 0 0, 0 100%, from(from), to(to)) args

radial-gradient(from = rgba(#0, 0.5), to = rgba(#0, 0.8))
   background-color to
   background -webkit-radial-gradient(50% 50%, ellipse closest-corner, from 1%, to 100%)
   background -moz-radial-gradient(50% 50%, ellipse closest-corner, from 1%, to 100%)
   background -ms-radial-gradient(50% 50%, ellipse closest-corner, from 1%, to 100%)

opacity(n)
   opacity: n
   filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=%s)' % round(n * 100)

// shortcuts
bg(args...)
   if typeof(args[1]) == 'unit'
      background-position args
   else
      background-color args


block(width = 25px, height = width)
   display block
   width width
   height height

circle(size)
   block size
   border-radius size


-pos(type, args)
   position unquote(type)
   top args[0]
   left args[1]

fixed()
   -pos('fixed', arguments)

absolute()
   -pos('absolute', arguments)

relative()
   -pos('relative', arguments)

