
.{root}
   .fp-embed
      absolute spacing auto
      right (spacing * 2 + controls_height)
      block controls_height controls_height
      text-align center

      .is-rtl&
         right auto
         left (spacing * 2 + controls_height)

   .fp-embed-code
      position absolute
      display none
      top 10px
      right controls_height*2 + 7
      bg #3
      padding 3px 5px
      border-radius 3px
      box-shadow 0 0 3px #c
      font-size 12px
      .is-closeable&
         right controls_height*3+9

      &:before
         content ''
         width 0
         height 0
         position absolute
         top 2px
         right -10px
         border 5px solid transparent
         border-left-color #3

      .is-rtl&
         right auto
         left controls_height*2 + 7
         &:before
            right auto
            left -10px
            border-left-color transparent
            border-right-color #3

      textarea
         width 400px
         height 16px
         font-family monaco, "courier new", verdana
         color #7
         white-space nowrap
         resize none
         overflow hidden
         border 0
         outline 0
         background-color transparent
         color #c

      label
         display block
         color #9

   &.is-embedding
      .fp-embed, .fp-embed-code
         display block
         opacity 1

   &.no-time .fp-embed
      left spacing !important

      .is-rtl&
         left auto
         right spacing !important
