
root              ?= flowplayer
font_size         ?= 12px
// aspect_ratio      ?= (9 / 16) * 100%

// editable
spacing           ?= 5px
timeline_height   ?= 10px
progress_height   ?= 3px
volume_width      ?= 90px
volume_height     ?= 5px
time_width        ?= 35px
play_width        ?= 27px
hour_time_width   ?= 65px
full_time_width   ?= 85px
play_radius       ?= 86px

img               ?= 'img/white'
img_rtl           ?= 'img/white_rtl'
img_dark          ?= 'img/black'
img_dark_rtl      ?= 'img/black_rtl'
img_play          ?= 'img/play_white'
img_play_rtl      ?= 'img/play_white_rtl'
img_play_dark     ?= 'img/play_black'
img_play_dark_rtl ?= 'img/play_black_rtl'
fade_speed        ?= .15s
fade_delay        ?= .3s


// calculated
mute_width        ?= 10px
mute_height       ?= 15px
controls_height   ?= spacing + timeline_height + spacing
right_margin      ?= spacing + volume_width + mute_width + spacing


@keyframes pulse
   0%
     opacity 0
   100%
     opacity 1

@import "css3"
@import "player"
@import "buttons"
@import "timeline"
@import "volume"
@import "time"
@import "state"
@import "embed"
@import "live"
@import "menu"
