
root              ?= flowplayer
font_size         ?= 11px
font_family       ?= 'myriad pro', Helvetica, Arial, sans-serif !important
// aspect_ratio      ?= (9 / 16) * 100%

// editable
spacing           ?= 10px
timeline_height   ?= 10px
progress_height   ?= 3px
volume_width      ?= 75px
volume_height     ?= 6px
time_width        ?= 35px
play_width        ?= 27px
menu_width        ?= 27px
hour_time_width   ?= 65px
full_time_width   ?= 85px
play_radius       ?= 86px
brand_width       ?= 55px

img_play          ?= 'img/play_white'
img_play_rtl      ?= 'img/play_white_rtl'
img_play_dark     ?= 'img/play_black'
img_play_dark_rtl ?= 'img/play_black_rtl'
fade_speed        ?= .15s
fade_delay        ?= .3s


// calculated
mute_width        ?= 30px
mute_height       ?= 30px
controls_height   ?= spacing + timeline_height + spacing
right_margin      ?= volume_width + controls_height  - 10 + spacing * 2


@keyframes pulse
   0%
     opacity 0
   100%
     opacity 1

@import "mixins"
@import "../../icons/icons.css"
@import "css3"
@import "player"
@import "buttons"
@import "timeline"
@import "volume"
@import "time"
@import "state"
@import "embed"
@import "live"
@import "menu"
