.{root}
  .fp-context-menu
    position absolute
    z-index 1001
    background-color #fff
    padding 10px
    border-radius 0px 5px 5px 5px
    border 1px solid #aaa
    width 200px
    li
      padding 5px
      border-bottom 1px solid #bbb
      color #aaa
      a
        color #00a7c8
