
.{root}
   position relative
   width 100%

   // mobile friendly background images
   background-size contain
   background-repeat no-repeat
   background-position center center

   // thanks: http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
   display inline-block

   // css reset
   *
      font-weight inherit
      font-family inherit
      font-style inherit
      text-decoration inherit
      font-size 100%
      padding 0
      border 0
      margin 0
      list-style-type none

   a:focus
      outline 0

   video
      width 100%

   // http://blog.millermedeiros.com/2011/03/html5-video-issues-on-the-ipad-and-how-to-solve-them/
   &.is-ipad video
      -webkit-transform:translateX(-2048px)

      .is-ready&
         -webkit-transform:translateX(0)


   .fp-engine, .fp-ui, .fp-message
      absolute 0 0
      width 100%
      height 100%
      cursor pointer
      z-index 1

   .fp-message
      display none
      text-align center
      padding-top 5%
      cursor default

      h2
         font-size 120%
         margin-bottom 1em

      p
         color #6
         font-size 95%

   .fp-controls
      position absolute
      bottom 0
      width 100%

      .no-background&
         bg transparent !important
         gradient transparent transparent !important

      .is-fullscreen&
         bottom 3px

      .is-mouseover&
         bottom 0

   .fp-waiting
      display none
      margin 19% auto
      text-align center

      *
         box-shadow 0 0 5px #3

      em
         width 1em
         height @width
         border-radius @width
         bg rgba(#f, 0.8)
         display inline-block
         animation pulse .6s infinite
         margin .3em
         opacity 0

         &:nth-child(1)
            animation-delay .3s

         &:nth-child(2)
            animation-delay .45s

         &:nth-child(3)
            animation-delay .6s

      // no animation support
      p
         color #c
         font-weight bold

   .fp-speed
      font-size 30px
      background-color #3
      background-color rgba(#3, .8)
      color #e
      margin 0 auto
      text-align center
      width 120px
      padding .1em 0 0
      opacity 0
      transition opacity .5s

      &.fp-hilite
         opacity 1

   .fp-help
      absolute 0 -9999em
      z-index 100
      background-color #3
      background-color rgba(#3, .9)
      width 100%
      height 100%
      opacity 0
      transition opacity .2s
      text-align center

      .is-help&
         left 0
         opacity 1

      .fp-help-section
         margin 3%
         direction ltr

      .fp-help-basics
         margin-top 6%

      p
         color #e
         margin .5em 0
         font-size 14px
         line-height 1.5
         display inline-block
         margin 1% 2%

      em
         background #e
         border-radius .3em
         margin-right .4em
         padding .3em .6em
         color #3

      small
         font-size 90%
         color #a

      .fp-close
         display block

      @media (max-width: 600px)
         p
            font-size 9px

   .fp-subtitle
      position absolute
      bottom 40px
      left -99999em
      z-index 10
      text-align center
      width 100%
      opacity 0
      transition opacity .3s

      p
         display inline
         background-color #3
         background-color rgba(#3, 0.9)
         color #e
         padding .1em .4em
         font-size 16px
         line-height 1.6

         &:after
            content ''
            clear both

      &.fp-active
         left 0
         opacity 1


   // background image
   .fp-fullscreen, .fp-unload, .fp-mute, .fp-embed, .fp-close, .fp-play
      background-image 'url(%s.png)' % unquote(img)
      background-size 37px 300px

      .is-rtl&
         background-image 'url(%s.png)' % unquote(img_rtl)

      .color-light&
         background-image 'url(%s.png)' % unquote(img_dark)

         .is-rtl&
            background-image 'url(%s.png)' % unquote(img_dark_rtl)

         @media (-webkit-min-device-pixel-ratio: 2)
            background-image 'url(%s@x2.png)' % unquote(img_dark)

            .is-rtl&
               background-image 'url(%s@x2.png)' % unquote(img_dark_rtl)

      @media (-webkit-min-device-pixel-ratio: 2)
         background-image 'url(%s@x2.png)' % unquote(img)

         .is-rtl&
            background-image 'url(%s@x2.png)' % unquote(img_rtl)


