
.{root}

   .fp-time
      text-shadow 0 0 1px #0
      font-size font_size
      font-weight normal
      font-family font_family
      color #f
      width 100%

      // inverted time
      &.is-inverted
         .fp-duration
            display none

         .fp-remaining
            display inline

      em
         width time_width
         height timeline_height
         line-height timeline_height
         text-align center
         position absolute
         bottom spacing - 1

      .no-time&
         display none

      .is-long& em
         width hour_time_width

   .fp-elapsed
      left spacing

      .is-rtl&
         left auto
         right spacing

   .fp-remaining, .fp-duration
      right right_margin + spacing + brand_width
      color #e

      .no-brand&
        right right_margin + spacing
        .has-menu&
          right right_margin + menu_width + spacing
        .no-volume&
          right mute_width + spacing * 2
        .no-mute&
          right spacing * 2 + volume_width
        .no-mute.no-volume&
          right spacing


      .has-menu&
         right right_margin + menu_width + spacing * 2 + brand_width

      .no-volume&
         right mute_width + spacing * 3 + brand_width

      .no-mute&
         right spacing * 3 + volume_width + brand_width

      .no-mute.no-volume&
         right spacing * 2 + brand_width
         .has-menu&
           right spacing * 3 + brand_width + menu_width

      .is-rtl&
         right auto
         left right_margin + spacing + brand_width

         .no-brand&
            left right_margin
            .has-menu&
              left right_margin + menu_width

         .has-menu&
            left right_margin + menu_width + spacing * 3 + brand_width

         .no-volume&
            left mute_width + spacing * 2

         .no-mute&
            left spacing * 2 + volume_width

         .no-mute.no-volume&
            left spacing

   .fp-remaining
      display none

   // top / left
   &.aside-time .fp-time
      absolute spacing spacing
      bottom auto !important
      width auto
      bg controls
      bg rgba(controls, .65)
      height controls_height
      padding 0 5px
      border-radius control_border_radius
      line-height controls_height
      text-align center
      font-size 15px

      .no-background&
        bg transparent !important


      strong, em
         position static

      .fp-elapsed::after
        content ' / '

