
.{root}

   .fp-timeline
      height progress_height
      position relative
      overflow hidden
      top spacing
      height timeline_height
      margin 0 (right_margin + time_width + spacing + spacing + brand_width) 0 (spacing + time_width + spacing)

      .no-brand&
        margin-right right_margin + time_width +spacing
        .has-menu&
          margin-right time_width + spacing + right_margin + menu_width
        .no-volume&
          margin-right time_width + mute_width + spacing * 3
        .no-mute&
          margin-right time_width + right_margin + spacing - mute_width
        .no-mute.no-volume&
          margin-right time_width + spacing * 2

      .has-menu&
         margin-right time_width + spacing * 2 + right_margin + menu_width + brand_width

      .no-volume&
         margin-right time_width + mute_width + spacing * 4 + brand_width

      .no-mute&
         margin-right time_width + right_margin + spacing * 2 - mute_width + brand_width

      .no-mute.no-volume&
         margin-right time_width + spacing * 3 + brand_width
         .has-menu&
           margin-right time_width + spacing * 4 + brand_width + menu_width

      .is-rtl&
         margin 0 (spacing + time_width + spacing) 0 (right_margin + time_width + spacing + brand_width + spacing)

         .no-brand&
            margin-left right_margin + time_width + spacing
            .has-menu&
              margin-left right_margin + time_width + spacing * 2 + menu_width
         .has-menu&
            margin-left right_margin + time_width + spacing * 3 + brand_width + menu_width
         .no-volume&
            margin-left time_width + mute_width + spacing * 3

         .no-mute&
            margin-left time_width + right_margin + spacing - mute_width
         .no-mute.no-volume&
            margin-left spacing * 2 + time_width

      .is-long&
         margin 0 (right_margin + hour_time_width + spacing + spacing + brand_width) 0 (spacing + hour_time_width + spacing)
         .no-volume&
            margin-right hour_time_width + mute_width + spacing * 3 + brand_width
         .no-mute&
            margin-right hour_time_width + spacing * 2 + brand_width
         .has-menu&
           margin-right right_margin + hour_time_width + spacing *3 + brand_width + menu_width
         .no-brand&
           margin-right right_margin + hour_time_width + spacing
           .no-volume&
             margin-right hour_time_width + mute_width + spacing * 3
           .no-mute&
             margin-right hour_time_width + spacing * 2
           .has-menu&
             margin-right right_margin + hour_time_width + spacing * 2 + menu_width

         .is-rtl&
            margin (spacing + hour_time_width + spacing) 0 (right_margin + hour_time_width + spacing) 0
            .no-volume&
               margin-left hour_time_width + mute_width + spacing * 3
            .no-mute&
               margin-left hour_time_width + spacing * 2

      // following apply to both normal and is-long
      .aside-time&, .no-time&
         margin 0 right_margin + spacing * 2 + brand_width 0 spacing
         .has-menu&
            margin-right right_margin + spacing * 3 + brand_width + menu_width
      .aside-time.no-brand&
         margin-right right_margin
      .aside-time.no-volume&, .no-time.no-volume&
         margin-right mute_width + spacing * 3 + brand_width

      .aside-time.no-mute&, .no-time.no-mute&
        margin-right spacing * 2 + brand_width

      .is-rtl.aside-time&, .is-rtl.no-time&
         margin 0 spacing 0 right_margin

      .is-rtl.aside-time.no-volume&, .is-rtl.no-time.no-volume&
         margin-left mute_width + spacing * 2

      .is-rtl.aside-time.no-mute&, .is-rtl.no-time.no-mute&
         margin-left spacing

   .fp-buffer, .fp-progress
      absolute 0 auto
      height 100%
      cursor col-resize

   .fp-buffer
      transition width .25s linear
   .fp-timeline.no-animation .fp-buffer
      transition none
   .fp-progress.animated
      transition-timing-function linear
      transition-property width, height
   &.is-touch .fp-timeline
      overflow visible

   &.is-touch .fp-progress
      transition width 0.2s linear
      box-sizing border-box

   &.is-touch .fp-timeline.is-dragging .fp-progress
      transition right 0.1s linear, border 0.1s linear, top 0.1s linear, left 0.1s linear

   &.is-touch.is-mouseover .fp-progress:after, &.is-touch.is-mouseover .fp-progress:before
      content ''
      box-sizing border-box
      display block
      border-radius 10px
      position absolute
      right -5px
   &.is-touch.is-rtl.is-mouseover .fp-progress:after, &.is-touch.is-rtl.is-mouseover .fp-progress:before
      right auto
      left -5px

   &.is-touch.is-rtl.is-mouseover .fp-progress:after
      left -10px
      box-shadow -1px 0px 4px rgba(#000, 0.5)

   &.is-touch.is-mouseover .fp-progress:before
      width 10px
      height 10px

   &.is-touch.is-mouseover .fp-progress:after
      height 18px
      width 18px
      top -4px
      right -10px
      border 5px solid rgba(#fff, 0.65)
      box-shadow 1px 0px 4px rgba(#000, 0.5)

   &.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after
      border 10px solid #fff
      border-radius 20px
      transition inherit
      top -5px
      right -10px

   &.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after
      left -15px
      right auto
      border 10px solid #fff

