
.{root}

   .fp-time
      text-shadow 0 0 1px #0
      font-size font_size
      font-weight bold
      color #f
      width 100%

      // inverted time
      &.is-inverted
         .fp-duration
            display none

         .fp-remaining
            display inline

      em
         width time_width
         height timeline_height
         line-height timeline_height
         text-align center
         position absolute
         bottom spacing

      .no-time&
         display none

      .is-long& em
         width hour_time_width

   .fp-elapsed
      left spacing

      .play-button&
         left play_width

      .is-rtl&
         left auto
         right spacing

         .play-button&
            right play_width

   .fp-remaining, .fp-duration
      right right_margin
      color #e

      .no-volume&
         right mute_width + spacing * 2

      .no-mute&
         right spacing * 2 + volume_width

      .no-mute.no-volume&
         right spacing

      .is-rtl&
         right auto
         left right_margin

         .no-volume&
            left mute_width + spacing * 2

         .no-mute&
            left spacing * 2 + volume_width

         .no-mute.no-volume&
            left spacing

   .fp-remaining
      display none

   &.color-light
      .fp-time
         color #2
         text-shadow 0 0 1px #f

      .fp-remaining, .fp-duration
         color #6


   // top / left
   &.aside-time .fp-time
      absolute spacing spacing
      bottom auto !important
      width full_time_width

      strong, em
         position static

      .fp-elapsed
         margin-right spacing

         .is-rtl&
            margin-right auto
            margin-left spacing

   &.is-long.aside-time .fp-time
      width hour_time_width * 2




