
.{root}

   .fp-timeline
      height progress_height
      position relative
      overflow hidden
      top spacing
      height timeline_height
      margin 0 (right_margin + time_width + spacing) 0 (spacing + time_width + spacing)

      .no-volume&
         margin-right time_width + mute_width + spacing * 3

      .no-mute&
         margin-right time_width + spacing * 2

      .aside-time&, .no-time&
         margin 0 right_margin 0 spacing

      .aside-time.no-volume&, .no-time.no-volume&
         margin-right mute_width + spacing * 2

      .aside-time.no-mute&, .no-time.no-mute&
         margin-right spacing

      .is-long&
         margin 0 (right_margin + hour_time_width + spacing) 0 (spacing + hour_time_width + spacing)
         .no-mute&
            margin-right hour_time_width + spacing * 2


   .fp-buffer, .fp-progress
      absolute 0 auto
      height 100%
      cursor col-resize

