
.{root}

   .fp-volume
      position absolute
      top (controls_height / 2) - (volume_height / 2)
      right spacing

      .is-rtl&
         right auto
         left spacing

   .fp-mute
      position relative
      width mute_width
      height mute_height
      float left
      top - (mute_height / 2) + (volume_height / 2)
      cursor pointer
      bg -2px -99px

      .is-rtl&
         float right
         bg -25px -99px

      .no-mute&
         display none

   .fp-volumeslider
      width volume_width
      height volume_height
      cursor col-resize
      float left

      .is-rtl&
         float right

      .no-volume&
         display none

   .fp-volumelevel
      height 100%
