
.{root}

   .fp-volume
      position absolute
      top (controls_height / 2) - (volume_height / 2)
      right spacing


   .fp-mute
      width mute_width
      height mute_height
      float left
      relative - (mute_height / 2) + (volume_height / 2)
      cursor pointer
      bg -2px -99px


   .fp-volumeslider
      width volume_width
      height volume_height
      cursor col-resize
      float left


   .fp-volumelevel
      height 100%

   &.no-volume
      .fp-volumeslider
         display none

